aside{
  background-color: green;
  float:right;
  width: 30%;
height:500px;
  margin-left:0px;
  padding-left: 0px;
  list-style: none;
}
.all{
  background-color: #e3e3e3;
  margin:auto;
overflow:hidden;
width:150%;

}
body{
  margin:auto;
  width:400px;



}
.matter{
  background-color: grey;
  width:70%;

  height:500px;
}
h1{
  background: #e3e3e3;
  padding:19px;
}
aside ul{
  padding-left: 18px;
}
